<!DOCTYPE html>
<html ng-app="scanApp">
<head>
    <title>Scan App</title>
    <script src="angular.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap-theme.min.css" rel="stylesheet" />
    <script>
		var model = {};

        var scanApp = angular.module("scanApp", []);
				
		scanApp.run(function($http) {
			$http.get('http://localhost:10000/scans/1').success(function(data) {
				model.scan = data;
			});
		});

		scanApp.run(function($http) {
			$http.get('http://localhost:10000/users').success(function(data) {
				model.users = data;
			});
		});

		scanApp.controller("scanAppCtrl", function($scope) {
			$scope.data = model;
			
		});
    </script>
</head>
<body ng-controller="scanAppCtrl">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">BodySpec</a>
    </div>
    <div class="panel panel-default row">
		<div class="col-xs-3"> 
			<ul>
				<li ng-repeat="user in data.users | orderBy:'LastName'">
					<a href="#">{{user.FirstName}} {{user.LastName}}</a>
				</li>
			</ul>
        </div>
		<div class="col-xs-8">
			<ul> 
				<li ng-repeat="(field, value) in data.scan">
					{{field}}: {{value}}
				</li>
			</ul>
        </div>
	</div>
</body>
</html>
